{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Artist_details.css' %}">
    <title>{{profile.user.username}}_details</title>
</head>
<body>
    <div id="head_details">
        <div id="web_name">
            ArtVendor
        </div>
        <div id="link">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'images' %}">Art</a>
            <a href="{% url 'Artist' %}">Artist</a>
            <a href="{% url 'index' %}">Our services</a>
            <a href="{% url 'cart' %}">Cart</a>
            {% if request.user.is_authenticated %}
                <span style="color:red">{{ request.user.username }}</span>
                <a href="{% url 'logout_view' %}" >Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </div><br><br><br>
    <div id="detail_img_body">
        <div id="select_image">
            <img src="{{profile.image.url}}" alt="" id="img">
        </div>
        <div id="Artist_details"><br>
            <h1 style="margin-left:35px; color:blue">{{profile.user.username}}</h1>
            <p id="details"><strong>Phone number:</strong> {{profile.user.userdata.number}}</p>
            <p id="details"><strong>Email:</strong><a href="mailto:{{profile.user.email}}" style="color: black;"><u>{{profile.user.email}}</u></a></p>
            <p id="details"><strong>Address:</strong> {{profile.address}}</p>
            <p id="details"><strong>Pincode:</strong> {{profile.pincode}}</p>
            <p id="details"><strong>City:</strong> {{profile.district}}</p>
            <p id="details"><strong>State:</strong> {{profile.state}}</p>
            <p id="details"><strong>country:</strong> {{profile.country}}</p><br>
            <form method="post" action="{% url 'submit_rating' id=profile.user.id %}">
                {% csrf_token %}
                <div class="rating">
                    <input value="5" name="rating" id="star5" type="radio">
                    <label for="star5"></label>
                    <input value="4" name="rating" id="star4" type="radio">
                    <label for="star4"></label>
                    <input value="3" name="rating" id="star3" type="radio">
                    <label for="star3"></label>
                    <input value="2" name="rating" id="star2" type="radio">
                    <label for="star2"></label>
                    <input value="1" name="rating" id="star1" type="radio">
                    <label for="star1"></label>
                </div>
                <input type="submit" value="Post"> 
            </form>
            {% if messages %}
            <ul class="messages" style="color:red">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"style="list-style-type: none;"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}   
    </div>
</div><br><br>
<div>
    <h1><u>Arts of {{profile.user.username}}</u></h1>
    <div id="arts_container">
        {% for artist_image in artist_images %}
            <a href="{% url 'image_detail' artist_image.id %}">
                <div class="art">
                    <img src="{{ artist_image.image.url }}" alt="" height="250px" width="250px" id="img_wrapper">
                    <p style="color: black;">{{ artist_image.name }}</p><br>
                </div>
            </a>
        {% endfor %}
    </div>
    
    
   
</div>
</body>
</html>
