{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/image.css' %}">
    <title>Arts_artvendor</title>
</head>
<body>
    <!-- Your existing HTML content here -->
    <div id="head_details">
        <div id="web_name">
            ArtVendor
        </div>
        <div id="link">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'images' %}">Art</a>
            <a href="{% url 'Artist' %}">Artist</a>
            <a href="{% url 'index' %}">Our services</a>
            <a href="{% url 'cart' %}">Cart</a>
            {% if request.user.is_authenticated %}
                <span style="color:red">{{ request.user.username }}</span>
                <a href="{% url 'logout_view' %}" >Logout</a>
            {% else %}
                <a href="">Login</a>
            {% endif %}
        </div>
    </div>
    <br><br>
    <div id="image_body">
        <input type="search" placeholder="Search Image" id="search_image">
        <div id="img_category">
            <details id="price_category">
                <summary>Search by Price</summary><br>
                <div class="align"> 
                <input type="checkbox" id="" name="price" value="price">
                <label for="Below INR 1000"> Below INR 1000</label><br>
                <input type="checkbox" id="" name="price" value="price">
                <label for=" INR 1000- INR 2500"> INR 1000- INR 2500</label><br>
                <input type="checkbox" id="" name="price" value="price">
                <label for="INR 2500- INR 4500"> INR 2500- INR 4500</label><br>
                <input type="checkbox" id="" name="price" value="price">
                <label for="INR 4500- INR 7000"> INR 4500- INR 7000</label><br>
                <input type="checkbox" id="" name="price" value="price">
                <label for="Above INR 7000"> Above INR 7000</label><br>
                </div>
            </details>
            <details id="price_category">
                <summary>Search by Price</summary><br>
                <div class="align"> 
                <input type="checkbox" id="" name="price" value="price">
                <label for="Below INR 1000"> Below INR 1000</label><br>
                <input type="checkbox" id="" name="price" value="price">
                <label for=" INR 1000- INR 2500"> INR 1000- INR 2500</label><br>
                <input type="checkbox" id="" name="price" value="price">
                <label for="INR 2500- INR 4500"> INR 2500- INR 4500</label><br>
                <input type="checkbox" id="" name="price" value="price">
                <label for="INR 4500- INR 7000"> INR 4500- INR 7000</label><br>
                <input type="checkbox" id="" name="price" value="price">
                <label for="Above INR 7000"> Above INR 7000</label><br>
                </div>
            </details>
            <details id="type_category">
                <summary>Search by Type</summary><br>
                <div class="align"> 
                <input type="checkbox" id="" name="type" value="type">
                <label for="Painting">Painting</label><br>
                <input type="checkbox" id="" name="type" value="type">
                <label for="oil-Painting">oil Painting</label><br>
                <input type="checkbox" id="" name="type" value="type">
                <label for="Pencil-drawing">pencil drawing</label><br>
                </div>
                
            </details>
            <details id="size_category">
                <summary> Search by Size</summary><br>
                <div class="align"> 
                <input type="checkbox" id="" name="size" value="size">
                <label for="4x8">4x8</label><br>
                <input type="checkbox" id="" name="size" value="size">
                <label for="5x7">5x7</label><br>
                <input type="checkbox" id="" name="size" value="size">
                <label for="8x10">8x10</label><br>
                <input type="checkbox" id="" name="size" value="size">
                <label for="9x12">9x12</label><br>
                <input type="checkbox" id="" name="size" value="size">
                <label for="16x20">16x20</label><br>
                <input type="checkbox" id="" name="size" value="size">
                <label for="18x24">18x24</label><br>
                </div>
            </details>
        </div>
        <div id="image_shown">
            {% for images in images %}
                <div id="card">
                    <img src="{{images.image.url}}" alt="" id="image"><br><br>
                    <center><p style="font-size: 20px;" ><b>Name:</b> {{images.name}}</p></center><br>
                    <center><p style="font-size: 20px; margin-top:-10px"><b>Size:</b> {{images.size}}</p></center><br>
                    <center><p style="font-size: 20px; margin-top:-10px"><b>Type:</b> {{images.art_type}}</p></center><br>
                    <center><p style="font-size: 20px; margin-top:-10px"><b>Rs:</b> {{images.price}}</p></center>
                    <a href="{% url 'image_detail' images.id %}"><center><button type="submit" id="submit">more</button></center></a>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery library -->
<script>
    $(document).ready(function () {
        // Function to handle image search
        $("#search_image").on("keyup", function () {
            var searchText = $(this).val().toLowerCase();
            $("#image_shown > div").each(function () {
                var imageText = $(this).text().toLowerCase();
                if (imageText.indexOf(searchText) === -1) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            });
        });
    });
</script>
</html>
