{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/image_detail.css' %}">
    <title>{{img_id.name}}_details</title>
</head>
<body>
    <div id="head_details">
        <div id="web_name">
            ArtVendor
        </div>
        <div id="link">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'images' %}">Art</a>
            <a href="{% url 'Artist' %}">Artist</a>
            <a href="{% url 'index' %}">Our services</a>
            <a href="{% url 'cart' %}">Cart</a>
            {% if request.user.is_authenticated %}
                <span style="color:red">{{ request.user.username }}</span>
                <a href="{% url 'logout_view' %}" >Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </div><br><br><br>
    <div id="detail_img_body">
        <div id="select_image">
            <div id="magnifier"></div>
            <img src="{{img_id.image.url}}" alt="" id="img">
        </div>
        <div id="select_details"><br>
            <p id="details"><strong>Art Id:</strong> {{img_id.art_id}} </p>
            <p id="details"><strong>Art Name:</strong> {{img_id.name}}</p>
            <p id="details"><strong>Artist:</strong><a href="{% url 'Artist_detail' img_id.user.id %}" style="color:black">{{img_id.user.username}}</a></p>
            <p id="details"><strong>Art Type:</strong> {{img_id.art_type}}</p>
            <p id="details"><strong>Art size:</strong> {{img_id.size}}</p>
            <p id="details"><strong>Art Price:</strong> {{img_id.price}}</p>
            <p id="details"><strong>Year:</strong> {{img_id.year}}</p>
            <p id="details"><strong>Description:</strong> {{img_id.description}}</p><br>
            <img src="{% static 'images\authentic-pic.png' %}" alt="" height="45px" width="45px" style="margin-left: 30px;"><p style="margin-left: 90px; margin-top: -25px;">This is an Original Indian Artwork accompanied with Authenticity Certificate</p><br>
            <a href="https://wa.me/+918547003297?text=I'm%20interested%20in%20your%20art%20{{img_id.name}}"><button type="submit" id="enquire_btn" style="background-color: rgb(20, 231, 37);">whatsapp</button></a>
            {% comment %} <a href="{% url 'email' %}"><button type="submit" id="cart_btn" style="background-color: rgb(62, 184, 233);">Email</button></a> {% endcomment %}
            <a href="mailto:{{ img_id.user.email }}?subject=Art%20Inquiry&body=I%20am%20interested%20in%20purchasing%20your%20artwork%20name%20{{img_id.name}}%20with%20id%20{{img_id.art_id}}">
                <button type="submit" id="cart_btn" style="background-color: rgb(62, 184, 233);">Email</button>
            </a>            
            <button type="submit" id="cart_btn" style="background-color: rgb(213, 233, 32);" onclick="location.href='{% url 'add_to_cart' img_id.id %}'">Add to Cart</button><br>
            {% comment %} <button type="submit" id="pay-btn"  style="background-color: rgb(231, 133, 21); margin-left:50px; width:590px">Buy</button> {% endcomment %}
        </div>
    </div>
</body>
</html>
