{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'css\Artist_view.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css\upload_art.css' %}">
    <title>Update_{{ art.name }}</title>
        <script>
            function validateArtForm() {
                var name = document.getElementById("uploadArtist_name").value;
                var type = document.getElementById("uploadArt_type").value;
                var size = document.getElementById("uploadArt_size").value;
                var price = document.getElementById("uploadArt_price").value;
                var year = document.getElementById("uploadArt_year").value;
                var image = document.getElementById("uploadArt_image").value;
                var certificate = document.getElementById("uploadArt_certificate").value;
    
                // Check if any field is empty
                if (name === "" || type === "" || size === "" || price === "" || year === "" ) {
                    document.getElementById("error_msg").innerHTML = "All fields are required.";
                    return false;
                }
            
                // Check if price is 0 or negative
                if (parseFloat(price) <= 0) {
                    document.getElementById("error_msg").innerHTML = "Price cannot be 0 or negative";
                    return false;
                }
            
                // Check if the year is in the future
                var currentYear = new Date().getFullYear();
                if (parseInt(year) !== currentYear) {
                    document.getElementById("error_msg").innerHTML = "Year must be the current year";
                    return false;
                }
            
                // If all checks pass, clear any previous error message
                document.getElementById("error_msg").innerHTML = "";
            
                return true;
            } 
        </script>
</head>
<body>
    <div class="body">
        <!-- head_section -->
        <div class="header">
            <img src="{% static 'images\search.jpg' %}" alt="" height="35px" width="35px" style="margin-left: 260px; margin-top:8px; border-radius:20px; cursor:pointer">

            <ul class="user-menu">
                    <p style="color: green;">Welcome, {{ user.username }}!</p>
                    <img src="{% static 'images/user.png' %}" alt="" height="30px" width="30px">
            </ul>
        </div>

        <!-- side-pannel -->

        <div id="sidebar">
            {% for img in img %}
                <img src="{{img.image.url}}" alt="" height="150px" width="150px" style="border-radius: 120px; margin-left:40px">
            {% empty %}
                <img src="{% static 'images\gallery_logo.png' %}" alt="" height="150px" width="150px" style="border-radius: 120px; margin-left:40px">
            {% endfor %}
            <h1>&emsp;{{ user.username }}</h1>
            <a href="{% url 'Artist_view' %}" style="text-decoration:none"><div class="sidebar-item" data-target="dashboard" >Dashboard</div></a>
            <a href="{% url 'Artist_view' %}" style="text-decoration:none"><div class="sidebar-item" data-target="users" id="addart">Add Art</div></a>
            <a href="{% url 'Artist_view' %}" style="text-decoration:none"><div class="sidebar-item" data-target="products" id="viewart">View Art</div></a>
            <a href="{% url 'auction_uploadform' %}" style="text-decoration: none;"><div class="sidebar-item" data-target="orders">Auction Upload</div></a>
            <a href="{% url 'artist_uploaded_auction' %}" style="text-decoration: none;"><div class="sidebar-item" data-target="orders">Auction View</div></a>
            <a href="{% url 'seller_profile' %}" style="text-decoration: none;"><div class="sidebar-item" data-target="orders">Profile</div></a>
            <a href="{% url 'index' %}" style="text-decoration: none;"><div class="sidebar-item" data-target="orders">Buy </div></a>  
            <a href="{% url 'logout_view' %}"style="text-decoration: none;" ><div class="sidebar-item" data-target="settings" id="lgout">Logout</div></a>
        </div>

            
            <div id="content">
                <div id="update_content">
                     <h1>Update your art </h1>
                            <form method="POST" action="" enctype="multipart/form-data" onsubmit="return validateArtForm()">
                                {% csrf_token %}
                    <label for="" id="details">Art Name:</label>
                    <input type="text" id="uploadArtist_name" placeholder="Name" name="uploadArt_name" value="{{ art.name }}" required><br><br>
                    <label for="" id="details">Art Type:</label>
                    <select id="uploadArt_type" name="uploadArt_type" required>
                        {% for type in arttype %}
    <option value="{{ type.nametype }}" {% if artdata.art_type|lower == type.nametype|lower %}selected{% endif %}>{{ type.nametype }}</option>
{% endfor %}

                    </select><br><br>
                    <label for="" id="details">Art size"</label>
                    <select id="uploadArt_size" name="uploadArt_size" required>
                        {% for size in artsize %}
                            <option value="{{size.namesize}}">{{size.namesize}}</option>
                        {% endfor %}
                    </select><br><br>
                    <label for="" id="details">Art price:</label>
                    <input type="number" id="uploadArt_price" placeholder="Art Price" name="uploadArt_price" value="{{ art.price }}" required><br><br>
                    <label for="" id="details">Art Year:</label>
                    <input type="number" id="uploadArt_year" placeholder="Year" name="uploadArt_year" value="{{ art.year }}" required><br><br><br>
                   
                    <label for="uploadArt_imag"  id="details">Upload Images:</label>
                    <input type="file" id="uploadArt_image" accept="image/png" name="uploadArt_image" {% if art.approval_status == 'approved' %}disabled{% endif %} ><br><br><br><br>
                    
                    <label for="uploadArt_certificate" id="details">Upload Certificate:</label>
                    <input type="file" id="uploadArt_certificate" accept="application/pdf" name="uploadArt_certificate" {% if art.approval_status == 'approved' %}disabled{% endif %} ><br><br><br><br>
                    <label for="" id="details">Art description:</label> <br><br>
                    <textarea name="uploadArt_description" id="uploadArt_summary" name="uploadArt_summary" required>{{ art.description }}</textarea><br>
                    <p id="error_msg" ></p><br>
                    <button type="submit" id="upload-art-submit">Save</button>
                            </form><br><br>
                            <br><br>
                </div>
                </div>
      
</body>
</html>


